#maindiv{
   width:75vw; 
   height:95vh;
   border:0.001vh solid black;
   margin: auto;
   box-shadow: 1vh 1vh 1vh 1vh black;
}
#div1{
    width: 75vw;
    height: 7vh;
    border:0.001vh solid black;
    display: flex;
    flex-direction: row;
    background-color: black;

}
#div2{
    width:65vw;
    height: 37vh;
    /* border:0.001vh solid black; */
    margin: auto;
    margin-top:-1vh;
    padding: 0;
    background-color:lightgrey;
    border-radius:0.9vh;

}
#div3{
    width:65vw;
    height: 35vh;
    /* border:0.001vh solid black; */
    margin: auto;
    margin-top:1vh;
    display: grid;
    grid-template-columns:auto auto auto;

}
#grid1,#grid2,#grid3{
    width:21.6vw;
    height:35vh ;
    /* border:0.001vh solid black; */

}
#subdive1{
    width:35vw;
    height: 6.9vh;
    border:0.001vh solid black;
    display: flex;
    flex-direction: row;
}
p{
    font-size: 1.2vw;
    margin-top: 1.5vh;
    margin-left: 1.9vw;
    padding: auto;
    color:white;
}
input{
    width:11vw;
    height: 4vh;
    border-radius:0.7vh;
    margin-left:5vh;
    margin-top:1vh;
}
#button1{
    height:4vh;
    width:6vw;
    margin-left:7vh;
}
#H1{
    font-size:9vh;
    margin-left:10vh;
    padding: 3vh;
}
#H2{
    margin-left:12vh;
    margin-top:-8vh;
}
#button2{
    height:5vh;
    width:9vw;
    margin-left:12vh;
    border-radius:0.9vh;
    margin-top:-2vh;
    background-color: blue;
}
#button{
    height:5vh;
    width:9vw;
    border-radius:0.9vh;

}
